/* General form styling */
.email-form {
    margin: 0 auto;
    padding: 3rem;
    background: #ffffff;
    border-radius: 29px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Form group styling */
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Textarea specific styling */
.form-group textarea {
    resize: vertical;
    /* Allow vertical resizing */
}

.button-container {
    text-align: center;
}

.universal-button {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:768px) {

    .universal-button {
        width: 100%;
    }
}