.footer {
    bottom: 0;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 2em;
    left: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-logo {
    position: absolute;
    left: 150px;
}

.footer-text {
    position: relative;
    font-size: 11px;
    float: right;
    margin: auto;
}