.footer {
    background-color: white;
    bottom: 0;
    margin-top: 5px;
    padding-top: 25px;
    height: 100px;
    left: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-contents {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
}

.footer-text {
    font-size: 11px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    padding-left: 85px;
}

@media (max-width: 768px) {

    .footer-contents {
        width: 100%;
    }

    .footer {
        padding-top: 50px;
    }

    .footer-text {
        font-size: 11px;
        margin: auto;
    }

}