.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-container {
  margin: auto;
  float: left;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  text-align: center;
}

.home-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.right-container {
  float: right;
  margin: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
}

.icebergs {
  max-height: 90vh;
  margin: auto;
}

.footerText {
  font-size: 10px;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 600px) {
  .container {
    background-image: url('./assets/icebergs.jpg');
    background-size: cover;
    background-position: center;
    display: block;
  }

  .left-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
  }

  .right-container {
    display: none;
  }

  .icebergs {
    display: none;
  }

  .home-button {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }
}